@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav-primary-color: #182536;
  --nav-hover-color: #22b1eb;
  --secondary-color: #a0a0a0;
  --background-color: #f2fbff;
  --text-color: #ffffff;
  --hover-background: #7893f5;
  --banner-background: #eef0ff;
  --block-color: #fafeff;
  --dark-mode: #020001;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: var(--dark-mode);
}

/* common classes */
.container {
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

a {
  display: inline-block;
  text-decoration: none;
}

/* nav section */

.nav-section > div > div {
  justify-content: space-between;
  padding: 21px 0;
  position: relative;
  /* gap: 51px; */
}

.nav-log > a > img {
  max-width: 97px;
  max-height: 47px;
  object-fit: contain;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}

nav > ul > li > a {
  color: var(--text-color);
  text-transform: uppercase;
}

nav > ul > li > a:hover {
  color: var(--nav-hover-color);
}

.nav-two > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style-type: none;
}

.nav-anch > a > img {
  max-width: 24px;
  max-height: 28px;
  object-fit: contain;
}

.nav-two-map {
  border: 1px solid var(--secondary-color);
  min-height: 51px;
  max-width: 225px;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  padding: 17px 18px;
  border-radius: 10px;
}

.nav-two-map > select {
  outline: 0;
  border: 0;
  color: var(--text-color);
  background: transparent;
}

.nav-two-map > img {
  max-width: 15px;
  max-height: 20px;
  object-fit: contain;
}

.nav-two-search {
  border: 1px solid var(--secondary-color);
  min-height: 51px;
  max-width: 225px;
  padding: 18px 16px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.nav-two-search > input[type="text"] {
  outline: 0;
  border: 0;
  background: transparent;
  color: white;
}

.ham-menu {
  display: none;
}

#menu {
  display: none;
}

/* form section */
.form-section {
  min-height: 705px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 184px;
}

.right-form > h2 {
  color: var(--text-color);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.col-50 {
  width: 50%;
}

.left-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 77px;
}

.left-top {
  display: flex;
  align-items: center;
  gap: 15px;
}

.left-top > img {
  height: 40px;
  width: 35px;
  object-fit: contain;
}

.left-top-text > p {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 9px;
}

.left-top-text > a {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 700;
}

.form-div {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-bottom: 20px;
}

.form-div > input[type="text"] {
  padding: 16px 18px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.form-div > input[type="email"] {
  padding: 16px 18px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-form > button {
  padding: 25px 54px;
  border-radius: 27px;
  text-transform: uppercase;
  font-weight: bolder;
  background-color: var(--text-color);
}

.msg-btn {
  padding: 47px 18px !important;
}

.blur-div {
  max-width: 567px;
  min-height: 419px;
  backdrop-filter: blur(50px);
  box-shadow: inset 0 10px 8px var(--nav-hover-color);
  padding: 48px 66px;
  border-radius: 29px;
}
/* end banner */
.end-banner {
  min-height: 649px;
  background-color: black;
}

.end-banner > div > div {
  padding: 48px 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.end-block {
  min-height: 346px;
  width: 158px;
}

.end-logo {
  margin-bottom: 67px;
}

.end-block > p {
  color: var(--text-color);
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 67px;
}

.end-logo > img {
  max-width: 112px;
  max-height: 55px;
  object-fit: contain;
}

.end-block > ul {
  list-style-type: none;
}

.end-block > ul > li {
  margin-bottom: 22px;
}

.end-block > ul > li > a {
  color: var(--text-color);
  font-size: 15px;
}

.end-block-one {
  min-height: 346px;
  width: 158px;
  padding-top: 169px;
}

.end-block-one > p {
  color: var(--text-color);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 67px;
}

.end-block-one > ul {
  list-style-type: none;
}

.end-block-one > ul > li {
  margin-bottom: 22px;
}

.end-block-one > ul > li > a {
  color: var(--text-color);
  font-size: 15px;
}

.end-block-two {
  min-height: 346px;
  width: 158px;
  padding-top: 169px;
}

.end-block-two > p {
  color: var(--text-color);
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 67px;
}

.end-block-two > ul {
  list-style-type: none;
}

.end-block-two > ul > li {
  margin-bottom: 22px;
}

.end-block-two > ul > li > a {
  color: var(--text-color);
  font-size: 15px;
}

.end-block-three {
  min-height: 346px;
  width: 158px;
  padding-top: 169px;
}

.end-block-three > p {
  color: var(--text-color);
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: 0 auto 67px;
}

.socials {
  max-width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
  margin-bottom: 142px;
}

.social-one > img {
  max-width: 29px;
  max-height: 29px;
  object-fit: contain;
}

.social-two > img {
  max-width: 31px;
  max-height: 31px;
  object-fit: contain;
}

.social-three > img {
  max-width: 33px;
  max-height: 33px;
  object-fit: contain;
}

.end-anch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 31px;
}

.end-anch-first {
  max-width: 207px;
  max-height: 50px;
}

.end-anch-first > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.end-anch-second {
  max-width: 202px;
  max-height: 55px;
}

.end-anch-second > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.end-img > img {
  max-width: 287px;
  max-height: 332px;
  object-fit: contain;
}

.center-footer-end {
  text-align: center;
  color: var(--text-color);
  font-size: 12px;
}

@media screen and (max-width: 1024px) {
  .nav-left {
    display: none;
    position: absolute;
    top: 92px;
    left: -15px;
    right: -15px;
    z-index: 2;
  }

  .ham-menu {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-left,
  .nav-left > nav > ul {
    flex-direction: column;
    flex-basis: 100%;
    backdrop-filter: blur(10px);
    padding: 20px 0;
  }

  .nav-two > ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-two > ul > li {
    width: 100%;
  }

  .nav-two-map,
  .nav-two-search {
    /* max-width: 100%; */
    width: 100%;
  }

  #menu:checked ~ .nav-left {
    display: flex;
  }

  .nav-two-map > select,
  .nav-two-search > input {
    background: transparent;
  }
  .end-banner > div > div {
    gap: 80px;
    justify-content: center;
  }

  .end-block-three {
    padding-top: 50px;
  }

  .socials {
    margin-bottom: 59px;
  }
}

@media screen and (max-width: 768px) {
  .form-section > div > div {
    gap: 115px;
  }

  .col-50 {
    width: 100%;
  }

  .blur-div {
    padding: 31px 29px;
  }
}
@media screen and (max-width: 426px) {
  .end-block-one {
    padding-top: 12px;
    min-height: 150px;
  }

  .end-block-two {
    padding-top: 50px;
    min-height: 107px;
  }

  .eight-banner > div {
    flex-direction: column;
    justify-content: center;
    gap: 48px;
  }

  .end-block > p {
    font-size: 20px;
    margin-bottom: 41px;
  }

  .end-block-one > p {
    font-size: 20px;
    margin-bottom: 41px;
  }

  .end-block-two > p {
    font-size: 20px;
    margin-bottom: 41px;
  }

  .end-block-three > p {
    font-size: 18px;
    margin-bottom: 41px;
  }

  .social-one > img {
    max-width: 25px;
    max-height: 25px;
  }

  .social-two > img {
    max-width: 25px;
    max-height: 25px;
  }

  .social-three > img {
    max-width: 25px;
    max-height: 25px;
  }
  .end-img > img {
    max-width: 237px;
    max-height: 240px;
  }

  .end-banner > div > div {
    gap: 39px;
  }
  .left-top > img {
    height: 28px;
    width: 28px;
  }
}
@media screen and (max-width: 375px) {
  .form-section {
    padding-top: 104px;
  }

  .left-top-text > p {
    font-size: 13px;
  }

  .left-top-text > a {
    font-size: 13px;
  }

  .main-form > button {
    padding: 14px 35px;
  }
  .end-block-one {
    padding-top: 20px;
  }

  .end-block-two {
    padding-top: 20px;
  }
    .end-block>ul>li>a {
    font-size: 12px;
  }

  .end-block-two>ul>li>a {
    font-size: 12px;
  }

  .end-block-three>ul>li>a {
    font-size: 12px;
  }
}
