@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav-primary-color: #182536;
  --nav-hover-color: #22b1eb;
  --secondary-color: #a0a0a0;
  --paragraph-color: #838181;
  --text-color: #ffffff;
  --book-color: #11a813;
  --block-color: #fafeff;
  --mark-color: #eaf9ff;
  --mark-primary-color: #f4f5f6;
  --mark-text-color: #bebebe;
  --line-color: #7e7e7e;
  --shade-color: #d9d9d9;
  --block-primary-color: #cdcdcd;
  --verify-color: #e6f0ff;
  --verify-text-color: #3d75cc;
  --second-block-color: #797878;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background: url(../assets/banner.png) center/cover no-repeat;
  min-height: 100vh;
}

/* common classes */
.container {
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

a {
  display: inline-block;
  text-decoration: none;
}

/* nav section */
.nav-section>div>div {
  justify-content: space-between;
  padding: 21px 0;
  position: relative;
  /* gap: 51px; */
}

.nav-log>a>img {
  max-width: 97px;
  max-height: 47px;
  object-fit: contain;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

nav>ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}

nav>ul>li>a {
  color: var(--nav-primary-color);
  text-transform: uppercase;
}

nav>ul>li>a:hover {
  color: var(--nav-hover-color);
}

.nav-two>ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style-type: none;
}

.nav-anch>a>img {
  max-width: 24px;
  max-height: 28px;
  object-fit: contain;
}

.nav-two-map {
  border: 1px solid var(--secondary-color);
  min-height: 51px;
  max-width: 225px;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  padding: 17px 18px;
  border-radius: 10px;
}

.nav-two-map>select {
  outline: 0;
  border: 0;
  color: var(--nav-primary-color);
}

.nav-two-map>img {
  max-width: 15px;
  max-height: 20px;
  object-fit: contain;
}

.nav-two-search {
  border: 1px solid var(--secondary-color);
  min-height: 51px;
  max-width: 225px;
  padding: 18px 16px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.nav-two-search>input {
  outline: 0;
  border: 0;
}

.ham-menu {
  display: none;
}

#menu {
  display: none;
}

/* first banner */
.first-banner {
  min-height: 244px;
}

.first-banner>div>h1 {
  max-width: 596px;
  font-weight: 700;
  font-size: 48px;
  /* line-height: 20px; */
  color: var(--nav-primary-color);
  margin-bottom: 103px;
}

.first-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  height: 44px;
  width: 44px;
  background-color: var(--book-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.one>img {
  max-width: 30px;
  max-height: 21px;
  object-fit: contain;
}

.one::after {
  content: "Select Service";
  display: inline-block;
  position: absolute;
  bottom: -40px;
  font-size: 17px;
  font-weight: 500;
  color: var(--nav-primary-color);
  text-align: center;
  width: 155px;
}

.line {
  height: 2px;
  max-width: 633px;
  width: 100%;
  background-color: var(--book-color);
}

.two {
  height: 44px;
  width: 44px;
  background-color: var(--shade-color);
  border-radius: 100%;
  color: var(--nav-primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 500;
  position: relative;
}

.two::after {
  content: "Confirm Booking";
  display: inline-block;
  position: absolute;
  bottom: -40px;
  font-size: 17px;
  font-weight: 500;
  color: var(--nav-primary-color);
  text-align: center;
  width: 155px;
}

/* second banner */
.second-banner {
  min-height: 355px;
  padding-bottom: 34px;
  background-color: var(--text-color);
  box-shadow: 0px 7px 2px gainsboro;
}

.first-block {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
  padding-top: 40px;
}

.first-block>img {
  max-width: 45px;
  max-height: 45px;
  object-fit: contain;
}

.first-block>span {
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  max-width: 235px;
}

.second-block {
  min-height: 20px;
  width: 100%;
  display: flex;
  gap: 656px;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin-top: 29px;
  margin-bottom: 15px;
}

.second-block>div:first-child {
  color: var(--second-block-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  max-width: 102px;
}

.second-block>div:last-child {
  color: var(--nav-primary-color);
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  max-width: 136px;
}

.fourth-block {
  min-height: 20px;
  width: 100%;
  display: flex;
  gap: 627px;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin-top: 29px;
  margin-bottom: 15px;
}

.fourth-block>div:first-child {
  color: var(--second-block-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  max-width: 130px;
}

.fourth-block>div:last-child {
  color: var(--nav-primary-color);
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  max-width: 338px;
}

.sixth-block {
  min-height: 20px;
  width: 100%;
  display: flex;
  gap: 601px;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin-top: 29px;
  margin-bottom: 15px;
}

.sixth-block>div:first-child {
  color: var(--second-block-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  max-width: 160px;
}

.sixth-block>div:last-child {
  color: var(--nav-primary-color);
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  max-width: 93px;
}

.fifth-block {
  min-height: 20px;
  width: 100%;
  display: flex;
  gap: 656px;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin-top: 29px;
  margin-bottom: 15px;
}

.fifth-block>div:first-child {
  color: var(--second-block-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  max-width: 101px;
}

.fifth-block>div:last-child {
  color: var(--nav-primary-color);
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  max-width: 166px;
}

.third-block {
  min-height: 2px;
  width: 100%;
  background-color: var(--block-primary-color);
}

/* third banner */
.third-banner {
  min-height: 512px;
  padding-top: 53px;
}

.block-three {
  max-width: 215px;
  min-height: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3px;
}

.block-three>img {
  max-width: 25px;
  max-height: 30px;
  object-fit: contain;
}

.block-three>span {
  color: var(--nav-primary-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
}

.block-row {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 35px;
  padding-top: 34px;
  flex-wrap: wrap;
  margin-bottom: 113px;
}

.left-block {
  max-width: 109px;
  max-height: 112px;
}

.left-block>img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.right-block {
  max-width: 535px;
  min-height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}

.right-name {
  color: var(--nav-primary-color);
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.logo-star>img {
  max-width: 13px;
  max-height: 13px;
  object-fit: contain;
}

.right-star {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 14px;
}

.right-star span {
  color: var(--nav-primary-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.right-block>p {
  color: var(--nav-primary-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.right-verify {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 14px;
  flex-wrap: wrap;
}

.right-verify>div {
  min-height: 37px;
  width: 259px;
  background-color: var(--verify-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding: 10px 25px;
}

.right-verify>div>img {
  max-width: 16px;
  max-height: 18px;
  object-fit: contain;
}

.right-verify>div>p {
  color: var(--verify-text-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.third-anch {
  text-align: center;
  padding-bottom: 108px;
}

.anch-book {
  background-color: var(--nav-primary-color);
  padding: 20px 60px;
  border-radius: 10px;
  color: var(--text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  box-shadow: 0px 7px 2px gainsboro;
}

.anch-book:hover {
  background-color: var(--book-color);
  color: var(--text-color);
}

/* end banner */
.end-banner {
  min-height: 649px;
  background-color: black;
}

.end-banner>div>div {
  padding: 48px 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.end-block {
  min-height: 346px;
  width: 158px;
}

.end-logo {
  margin-bottom: 67px;
}

.end-block>p {
  color: var(--text-color);
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 67px;
}

.end-logo>img {
  max-width: 112px;
  max-height: 55px;
  object-fit: contain;
}

.end-block>ul {
  list-style-type: none;
}

.end-block>ul>li {
  margin-bottom: 22px;
}

.end-block>ul>li>a {
  color: var(--text-color);
  font-size: 15px;
}

.end-block-one {
  min-height: 346px;
  width: 158px;
  padding-top: 169px;
}

.end-block-one>p {
  color: var(--text-color);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 67px;
}

.end-block-one>ul {
  list-style-type: none;
}

.end-block-one>ul>li {
  margin-bottom: 22px;
}

.end-block-one>ul>li>a {
  color: var(--text-color);
  font-size: 15px;
}

.end-block-two {
  min-height: 346px;
  width: 158px;
  padding-top: 169px;
}

.end-block-two>p {
  color: var(--text-color);
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 67px;
}

.end-block-two>ul {
  list-style-type: none;
}

.end-block-two>ul>li {
  margin-bottom: 22px;
}

.end-block-two>ul>li>a {
  color: var(--text-color);
  font-size: 15px;
}

.end-block-three {
  min-height: 346px;
  width: 158px;
  padding-top: 169px;
}

.end-block-three>p {
  color: var(--text-color);
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: 0 auto 67px;
}

.socials {
  max-width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
  margin-bottom: 142px;
}

.social-one>img {
  max-width: 29px;
  max-height: 29px;
  object-fit: contain;
}

.social-two>img {
  max-width: 31px;
  max-height: 31px;
  object-fit: contain;
}

.social-three>img {
  max-width: 33px;
  max-height: 33px;
  object-fit: contain;
}

.end-anch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 31px;
}

.end-anch-first {
  max-width: 207px;
  max-height: 50px;
}

.end-anch-first>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.end-anch-second {
  max-width: 202px;
  max-height: 55px;
}

.end-anch-second>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.end-img>img {
  max-width: 287px;
  max-height: 332px;
  object-fit: contain;
}

.center-footer-end {
  text-align: center;
  color: var(--text-color);
  font-size: 12px;
}

@media screen and (max-width: 1439px) {
  .second-block {
    justify-content: space-between;
    gap: 50px;
  }

  .fifth-block {
    justify-content: space-between;
    gap: 50px;
  }

  .fourth-block {
    justify-content: space-between;
    gap: 50px;
  }

  .sixth-block {
    justify-content: space-between;
    gap: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .nav-left {
    display: none;
    position: absolute;
    top: 92px;
    left: -15px;
    right: -15px;
    z-index: 2;
  }

  .ham-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-left,
  .nav-left>nav>ul {
    flex-direction: column;
    flex-basis: 100%;
    /* backdrop-filter: blur(10px); */
    background-color: antiquewhite;
    padding: 20px 0;
  }

  .nav-two>ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-two>ul>li {
    width: 100%;
  }

  .nav-two-map,
  .nav-two-search {
    /* max-width: 100%; */
    width: 100%;
  }

  #menu:checked~.nav-left {
    display: flex;
  }

  .nav-two-map>select,
  .nav-two-search>input {
    background: transparent;
  }

  .line {
    height: 2px;
    max-width: 428px;
  }

  .one::after {
    font-size: 14px;
    width: 62px;
  }

  .two::after {
    font-size: 14px;
    width: 62px;
  }

  .first-banner>div>h1 {
    font-size: 40px;
  }

  .end-banner>div>div {
    justify-content: center;
    gap: 85px;
  }

  .end-block-three {
    padding-top: 90px;
  }
}

@media screen and (max-width: 768px) {
  .one {
    height: 34px;
    width: 32px;
    font-size: 23px;
  }

  .two {
    height: 34px;
    width: 32px;
    font-size: 23px;
  }

  .first-banner>div>h1 {
    font-size: 35px;
  }

  .fourth-block {
    gap: 30px;
  }

  .fourth-block>div:first-child {
    max-width: 106px;
  }

  .fourth-block>div:last-child {
    max-width: 144px;
    text-align: end;
  }

  .socials {
    margin-bottom: 65px;
  }

  .block-row {
    flex-direction: column;
  }

  .right-block {
    align-items: center;
  }

  .right-verify {
    justify-content: center;
  }

  .one>img {
    max-width: 21px;
  }

  .line {
    max-width: 310px;
  }
}

@media screen and (max-width: 426px) {
  .first-banner>div>h1 {
    font-size: 24px;
  }

  .first-block>img {
    max-width: 32px;
    max-height: 34px;
  }

  .end-block-one {
    min-height: 240px;
    padding-top: 25px;
  }

  .end-block-two {
    padding-top: 10px;
    min-height: 240px;
  }

  .end-block-three {
    padding-top: 10px;
  }

  .socials {
    margin-bottom: 49px;
    gap: 26px;
    justify-content: start;
  }

  .social-one>img {
    max-width: 25px;
    max-height: 25px;
  }

  .social-two>img {
    max-width: 25px;
    max-height: 25px;
  }

  .social-three>img {
    max-width: 25px;
    max-height: 25px;
  }

  .end-banner>div>div {
    gap: 80px;
  }

  .end-block>p {
    font-size: 17px;
  }

  .end-block-one>p {
    font-size: 17px;
  }

  .end-block-two>p {
    font-size: 17px;
  }

  .end-block-three>p {
    font-size: 17px;
  }

  .end-block>ul>li>a {
    font-size: 13px;
  }

  .end-block-one>ul>li>a {
    font-size: 13px;
  }

  .end-block-two>ul>li>a {
    font-size: 13px;
  }

  .one::after {
    font-size: 10px;
    width: 35px;
  }

  .two::after {
    font-size: 10px;
    width: 35px;
  }

  .line {
    max-width: 222px;
  }

  .anch-book {
    padding: 16px 28px;
    font-size: 13px;
    line-height: 16px;
  }

  .second-block>div:first-child {
    font-size: 13px;
  }

  .second-block>div:last-child {
    font-size: 13px;
  }

  .fifth-block>div:first-child {
    font-size: 13px;
  }

  .fifth-block>div:last-child {
    font-size: 13px;
    max-width: 120px;
    text-align: end;
  }

  .fourth-block>div:first-child {
    font-size: 13px;
  }

  .fourth-block>div:last-child {
    font-size: 13px;
  }

  .sixth-block>div:first-child {
    font-size: 13px;
  }

  .sixth-block>div:last-child {
    font-size: 13px;
  }

  .right-verify>div {
    width: 198px;
  }

  .right-verify>div>p {
    font-size: 11px;
  }

  .block-row {
    margin-bottom: 64px;
  }

  .third-anch {
    padding-bottom: 55px;
  }

  .end-img>img {
    max-width: 237px;
    max-height: 240px;
  }

  .end-banner>div>div {
    gap: 39px;
  }
}

@media screen and (max-width: 375px) {
  .fifth-block {
    gap: 10px;
  }

  .first-block>span {
    font-size: 18px;
    line-height: 10px;
  }

  .block-three>span {
    font-size: 18px;
  }

  .first-banner>div>h1 {
    font-size: 21px;
  }

  /* .one::after {
    font-size: 12px;
  } */
  /* .two::after {
    font-size: 12px;
  } */
}